<p>categoria</p>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tr onclick="getCategoria(categoria)" *ngFor = "let Categoria of Categorias">
        {{categoria}}
    </tr>
</table>


<input [(ngModel)]="objCategoria.nombre" placeholder="nombre">
<input [(ngModel)]="objCategoria.descripcion" placeholder="Descripcion">
<input type="checkbox" [checked]="objCategoria.estado">

<button>Guardar</button>
<button>Eliminar</button>



